/* colour palette */
:root {
  --background-colour: rgb(31, 29, 29);
  --higher-opacity-pink: rgba(232, 102, 236, 0.6);
  --lower-opacity-pink: rgba(232, 102, 236, 0.3);
  --glowing-pink: rgba(232, 102, 236, 1);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-colour);
  margin: 0px;
  height: 100vh;
}
