/* colour palette */
:root {
  --background-colour: rgb(31, 29, 29);
  --higher-opacity-pink: rgba(232, 102, 236, 0.6);
  --lower-opacity-pink: rgba(232, 102, 236, 0.3);
  --glowing-pink: rgba(232, 102, 236, 1);
  --white: #fff;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--background-colour);
  margin: 0px;
  min-height: 100vh;
}

header,
main,
footer {
  font-size: 1.6rem;
}

header {
  text-align: center;
}

header h1 {
  font-size: 3rem;
  color: var(--glowing-pink);
}

header p {
  margin: 1rem 5rem;
  color: var(--white);
}

main h2,
footer h2 {
  font-size: 2.5rem;
}

.card__container {
  display: flex;
  flex-wrap: wrap;
}

.card__item {
  flex: 1 0 30%;
  margin: 2rem;
  text-align: center;
  max-width: 30%;
  color: var(--glowing-pink);
}

pre {
  text-align: left;
  color: var(--white);
}

footer {
  color: var(--glowing-pink);
}
